<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.System.Web.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="WFFM.Sitecore.Forms.Core" version="9.0.2" targetFramework="net462" />
  <package id="WFFM.Sitecore.Forms.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="WFFM.Sitecore.WFFM.Abstractions" version="9.0.2" targetFramework="net462" />
</packages>