<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <settings>
          <setting name="Mvc.DefaultFormControllerName" value="" patch:source="Sitecore.Mvc.config"/>
      </settings>
      <pipelines>
          <initialize>
         <processor type="Sitecore.Support.Forms.Mvc.Pipelines.Initialize.InitializeRoutes,Sitecore.Support.CS0177954" patch:after="*[@type='Sitecore.Forms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Forms.Mvc']" /> 
          </initialize>
      </pipelines>
  </sitecore>
</configuration>